.can-help
    padding w(120)

    &__block 
        text-align center

    &__wrap
        width w(1134)
        height w(190)
        border-radius w(15)
        padding w(50) w(20) w(40) w(40)
        margin w(60) auto
        display flex
        flex-direction row
        background $c-yellow

    &__line
        width w(163)
        height w(4)
        background $c-yellow
        margin 0 auto


    &__title
        font-family $ff-Arsenal
        font-weight 700
        font-size w(48)
        line-height w(68)
        color $c-black
        padding-bottom w(15)
        text-transform uppercase

    &__text
        font-family $ff-Arsenal
        font-size w(26)
        line-height w(33)
        font-weight 700
        padding-left w(38)
        padding-right w(18)
        border-left w(2) solid #fff
        &:first-child
            padding-left 0
            border-left none
        &:last-child
            padding-right 0

    &__vidio
        width w(1134)
        margin 0 auto
        img
            width 100%

